body
{
    margin:0;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight:normal;
    line-height:1.1em;
    color:#808080;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-size: 1.1em;
}

p {
    font-size: 1em;
}

#masthead{
    background-color:#049cd9;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#004d9f), to(#049cd9));
    background-image:-moz-linear-gradient(top, #004d9f, #049cd9);
    background-image:-ms-linear-gradient(top, #004d9f, #049cd9);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #004d9f), color-stop(100%, #049cd9));
    background-image:-webkit-linear-gradient(top, #004d9f, #049cd9);
    background-image:-o-linear-gradient(top, #004d9f, #049cd9);
    background-image:linear-gradient(top, #004d9f, #049cd9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#004d9f', endColorstr='#049cd9', GradientType=0)
    ;color:#fff;
}
