%h2 About Bitcoin
%h3 Introduction
%p Bitcoin is one of the first implementations of a concept called crypto-currency, which was first described in 1998 by Wei Dai on the cypherpunks mailing list. Building upon the notion that money is any object, or any sort of record, accepted as payment for goods and services and repayment of debts in a given country or socio-economic context, Bitcoin is designed around the idea of using cryptography to control the creation and transfer of money, rather than relying on central authorities.
%h3 Features
These are the basic features of any Bitcoin-like network.

%ul
  %li Bitcoins can be transferred between arbitary nodes on the network.
  %li Transactions are irreversible.
  %li
    Double spending is prevented by using a
    %a{:href => "https://en.bitcoin.it/wiki/Block_chain"} block chain.
  %li
    Transactions are broadcasted within seconds and
    %a{:href => "https://en.bitcoin.it/wiki/FAQ#Why_do_I_have_to_wait_10_minutes_before_I_can_spend_money_I_received.3F"} verified within 10 to 60 minutes.
  %li Transactions are received while the computer is turned off.

%h3 Economic Rules
%p These rules are enforced collectively by the network. While they will not change for Bitcoin, other digital currencies using Bitcoin's technology may change them to suit their needs.
%ul
  %li
    Hard limit of
    %a{:href =>"https://en.bitcoin.it/wiki/Controlled_Currency_Supply"} about 21 million Bitcoins.
  %li
    Bitcoins are divisible to 8 decimal places yielding a total of approx. 21×10
    %sup 14
    currency units.
  %li
    Transactions are cheap, and mostly free
    (
    %a{:href => "https://en.bitcoin.it/wiki/Transaction_fees"}Transaction fees
    ).
%h3 Features of the Bitcoin Network
%p The network is running for more than 32 months yielding to some impressive security features.
%ul
  %li Long block chain (more than 140.000 blocks) with lots of processing power securing transactions.
  %li
    Only one major
    %a{:href => "https://en.bitcoin.it/wiki/Incidents#Value_overflow"}incident
    (fixed in August 2010).
%h3
  Contributors
  %small
    ordered by number of commits

        <table class="unstyled">
          <tr>
            
            <td>Wladimir J. van der Laan (374)</td>
          
            
            <td>Gavin Andresen (313)</td>
          
            
            <td>Satoshi Nakamoto (279)</td>
          
            
            <td>Jeff Garzik (131)</td>
          
            
            <td>Matt Corallo (84)</td>
          </tr><tr>
            
            <td>Pieter Wuille (66)</td>
          
            
            <td>Nils Schneider (34)</td>
          
            
            <td>sirius-m (26)</td>
          
            
            <td>Luke Dashjr (22)</td>
          
            
            <td>Giel van Schijndel (17)</td>
          </tr><tr>
            
            <td>Chris Moore (10)</td>
          
            
            <td>Dev Random (8)</td>
          
            
            <td>Han Lin Yap (8)</td>
          
            
            <td>Jordan Lewis (8)</td>
          
            
            <td>celil-kj (7)</td>
          </tr><tr>
            
            <td>Vegard Nossum (6)</td>
          
            
            <td>mgiuca (6)</td>
          
            
            <td>Douglas Huff (5)</td>
          
            
            <td>John Maguire (4)</td>
          
            
            <td>Chris (4)</td>
          </tr><tr>
            
            <td>JoelKatz (4)</td>
          
            
            <td>globalcitizen (4)</td>
          
            
            <td>Matoking (4)</td>
          
            
            <td>Jay Weisskopf (4)</td>
          
            
            <td>Eric Hosmer (4)</td>
          </tr><tr>
            
            <td>Venkatesh Srinivas (4)</td>
          
            
            <td>p2k (4)</td>
          
            
            <td>Michael Bemmerl (4)</td>
          
            
            <td>Caleb James DeLisle (3)</td>
          
            
            <td>Alex B (3)</td>
          </tr><tr>
            
            <td>Dean Lee (2)</td>
          
            
            <td>Clark Gaebel (2)</td>
          
            
            <td>toomanysecrets0 (2)</td>
          
            
            <td>Ricardo M. Correia (2)</td>
          
            
            <td>David FRANCOIS (2)</td>
          </tr><tr>
            
            <td>enmaku (2)</td>
          
            
            <td>Carlo Alberto Ferraris (2)</td>
          
            
            <td>Marius Hanne (2)</td>
          
            
            <td>Daniel Folkinshteyn (2)</td>
          
            
            <td>Michal Zima (2)</td>
          </tr><tr>
            
            <td>Chris Howie (2)</td>
          
            
            <td>Dawid Spiechowicz (2)</td>
          
            
            <td>Alex Waters (2)</td>
          
            
            <td>Forrest Voight (2)</td>
          
            
            <td>Stéphane Gimenez (2)</td>
          </tr><tr>
            
            <td>delirium--- (1)</td>
          
            
            <td>sandos (1)</td>
          
            
            <td>gjs278 (1)</td>
          
            
            <td>laszloh (1)</td>
          
            
            <td>flower (1)</td>
          </tr><tr>
            
            <td>ojab (1)</td>
          
            
            <td>kwaaak (1)</td>
          
            
            <td>Dan Helfman (1)</td>
          
            
            <td>jburkle (1)</td>
          
            
            <td>Daniel Holbert (1)</td>
          </tr><tr>
            
            <td>Patrick Varilly (1)</td>
          
            
            <td>Michael Hendricks (1)</td>
          
            
            <td>Jaromil (1)</td>
          
            
            <td>Santiago M. Mola (1)</td>
          
            
            <td>大宝库 (1)</td>
          </tr><tr>
            
            <td>Jeroenz0r (1)</td>
          
            
            <td>kr105rlz (1)</td>
          
            
            <td>nobled (1)</td>
          
            
            <td>Misbakh-Soloviev Vadim A. (1)</td>
          
            
            <td>Danube (1)</td>
          </tr><tr>
            
            <td>mark (1)</td>
          
            
            <td>ius (1)</td>
          
            
            <td>Dan Loewenherz (1)</td>
          
            
            <td>Amir Yalon (1)</td>
          
            
            <td>Abraham Jewowich (1)</td>
          </tr><tr>
            
            <td>m0ray (1)</td>
          
            
            <td>shanew (1)</td>
          
            
            <td>Blitzboom (1)</td>
          
            
            <td>Jakob Kramer (1)</td>
          
            
            <td>mewantsbitcoins (1)</td>
          </tr><tr>
            
            <td>Ang Iong Chun (1)</td>
          
            
            <td>ovdeathiam (1)</td>
          
            
            <td>Unreal89 (1)</td>
          
            
            <td>khalahan (1)</td>
          
            
            <td>Johannes Henninger (1)</td>
          </tr><tr>
            
            <td>Sven Slootweg (1)</td>
          
            
            <td>Eric Swanson (1)</td>
          
            
            <td>Fabian H jr. (1)</td>
          
            
            <td>Joozero (1)</td>
          
            
            <td>Ariel Patino (1)</td>
          </tr><tr>
            
            <td>Anonymous (1)</td>
          
            
          </tr>
        </table>