%h2 About Bitcoin
%h3 Introduction
%p Bitcoin is one of the first implementations of a concept called crypto-currency, which was first described in 1998 by Wei Dai on the cypherpunks mailing list. Building upon the notion that money is any object, or any sort of record, accepted as payment for goods and services and repayment of debts in a given country or socio-economic context, Bitcoin is designed around the idea of using cryptography to control the creation and transfer of money, rather than relying on central authorities.
%h3 Features
These are the basic features of any Bitcoin-like network.

%ul
  %li Bitcoins can be transferred between arbitary nodes on the network.
  %li Transactions are irreversible.
  %li
    Double spending is prevented by using a
    %a{:href => "https://en.bitcoin.it/wiki/Block_chain"} block chain.
  %li
    Transactions are broadcasted within seconds and
    %a{:href => "https://en.bitcoin.it/wiki/FAQ#Why_do_I_have_to_wait_10_minutes_before_I_can_spend_money_I_received.3F"} verified within 10 to 60 minutes.
  %li Transactions are received while the computer is turned off.  