%div#masthead
  %div.inner
    %h1
      Bitcoin
      %small
        P2P Currency
    %p
      Bitcoin is an experimental new digital currency that enables instant payments to anyone, anywhere in the world. Bitcoin uses peer-to-peer technology to operate with no central authority: managing transactions and issuing money are carried out
      %a{:id => "link", :href => "http://bitcoin.org/bitcoin.pdf"} collectively by the network.
      Bitcoin is also the name of the open source software which enables the use of this currency.
    %p
      The
      %a{:id => "link",:href => "https://en.bitcoin.it/wiki/Original_Bitcoin_client"} software
      is a community-driven open source project, released under the MIT license.