!!!
%html
  %head
    %title Bitcoin
    = stylesheets
    %script{:type => "text/javscript", :src => "http://code.jquery.com/jquery-1.6.4.min.js"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"}

  %body
    = yield
    = partial("nav")  